ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
  }
  a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
body{
    margin: 0px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/798fc33f-5338-426c-95ef-0dce36f68da0/d758mbq-3e6c2f7d-9887-4049-b362-a37dc3f28c70.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc5OGZjMzNmLTUzMzgtNDI2Yy05NWVmLTBkY2UzNmY2OGRhMFwvZDc1OG1icS0zZTZjMmY3ZC05ODg3LTQwNDktYjM2Mi1hMzdkYzNmMjhjNzAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.J-2AV3qR5pGMAtZlOz6eChHaRGLslojhuYczoNAHi2w);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    width: 400px;
    height: 400px;
    margin: 10px;
    transition: all 1s;
}
img:hover{
    transform: scale(1.1);
}
h1{
    text-align: center;
    font-size: 3em;
    border-bottom: 2px solid black;
}
h2{
    text-align: center;
    font-size: 2em;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
